
QMainWindow {
    background-color: #2a3454;
}

QPushButton {
    background-color: #3c5068;
    color: white;
    border-radius: 5px;
    margin: 5px;
}

QPushButton:hover {
    background-color: #506680;
}

QLabel {
    color: white;
}

QLineEdit, QTextEdit {
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    color: black;
}



